$maxw: 750px;
$minw: 320px;
$red: #e41735;
$iconImgW: 69.4rem;
//图标精灵图宽
$iconImgH: 48.0rem;
//图标精灵图高
html {
    font-size: (10/16*100)+%;
    width: 100%;
    height: 100%;
    overflow: hidden;

    * {
        box-sizing: border-box;
    }
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    font: {
        size: 1.4rem;
        family: "Microsoft Yahei";
        weight: normal;
    };
}

a {
    &,
    &:hover,
    &:link {
        text-decoration: none;
        color: #333;
    }
}
@mixin position($pos:relative) {
    position: $pos;
}
@mixin flex($lay:flex-start) {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: $lay;
    justify-content: $lay;
}
@mixin allRadius($v:0) {
    -webkit-border-radius: $v;
    -moz-border-radius: $v;
    -ms-border-radius: $v;
    border-radius: $v;
}
@mixin magPad($v:0) {
    margin: $v;
    padding: $v;
}
@mixin scale($v:1,$o:center) {
    -webkit-transform: scale($v);
    -moz-transform: scale($v);
    -ms-transform: scale($v);
    transform: scale($v);
    -webkit-transform-origin: $o;
    -moz-transform-origin: $o;
    -ms-transform-origin: $o;
    transform-origin: $o;
}
@mixin translate($x:0,$y:0,$z:0) {
    -webkit-transform: translate3d($x,$y,$z);
    -moz-transform: translate3d($x,$y,$z);
    -ms-transform: translate3d($x,$y,$z);
    transform: translate3d($x,$y,$z);
}
/*!
公共样式---定制版
*/
$bgRed : #ff0000;
button,a{
    &.btn-submit{
        background-color: #da2525;
        color:#fff;
        height: 3.6rem;
        line-height:3.6rem;
        text-align: center;
        border:none;
        @include allRadius(.5rem);
        &.block{
            width: 100%;
            display: block;
        }
    }
}
.flex-between {
    @include flex(space-between);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.color-red {
    color: $red;
}

.list-none {
    list-style: none;
    @include magPad;

    li {
        @include magPad;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    width: 100%;
    height: 1px;

    &:after,
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

//表单输入样式 一
.form-group{
    margin-bottom: 2.6rem;
    position: relative;
    .caption{
        height: 3.2rem;
        line-height: 3.2rem;
        float: left;
        -webkit-flex-shrink:0;
        flex-shrink:0;
    }
    .form-input{
        width: 100%;
        display: inline-block;
        -webkit-flex-shrink:1;
        flex-shrink:1;
        input,textarea,select{
            border:1px solid #c1c1c1;
            padding:.3rem;
            @include allRadius(.5rem);
            width: 100%;
            height: 3.2rem;
            &.none{
                border: none;
                background: rgba(0,0,0,0);
                background: transparent;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

/*!
icon 图标样式
*/
@each $word,$x,$y in (arrow-left,0px,0px), (dot-more,0,(-7.4rem/2.4)) {
    span[icon-#{$word}] {
        background: url("../font/home.svg") no-repeat;
        //background: url("../img/member/icon-lib.png") no-repeat;
        background-position: 0 0;
        background-size: cover;
        display: inline-block;
        display: table;
        width: (6.4rem/2.4);
        height: (6.4rem/2.4);
        //@include transScale(.5,left);
        [svg]{
            fill:red;
        }
    }
}
/*!
主要样式--会员中心
*/
.member-wrapper {
    .container-fill {
        padding: 0 1.2rem;
    }
    max-width: $maxw;
    min-width: $minw;
    margin: auto;
    @include position;

    hr.line {
        @include magPad;
        width: auto;
        border: none;
        height: 1px;
        background: #e8e8e8;
    }

    .padd {
        padding: 0 1.2rem;
        background: #fff;
    }

    .hi16 {
        height: 1.6rem;
    }
    .hi10 {
        height: 1.0rem;
    }

    /*!
    隐藏页边导航
    */
    .slide-nav{
        position: absolute;
        top:3rem;
        right: 0;
        background: #888;
        li{
            padding:.6rem 2.6rem;
            white-space:nowrap;
            border-bottom: 1px solid #f9f9f9;
            color:#fff;
            &:last-child{
                border:none;
            }
        }
    }

    /*!
    内页导航样式
    */
    .order-nav {
        padding: 0 2rem;
        border: solid 1px #ddd;
        background: #fff;

        li {
            padding: 0.8rem 1rem;

            &.active {
                border-bottom: solid 2px $red;
                margin-bottom:-1px;
            }
        }
    }
    /*!
    会员登陆页面
    */
    .login-form{
        background: #fff;
        padding:2.6rem 1.6rem 1rem;
        .form-group .caption{
            width: 9rem;
        }
        .qita{
            color: #888;
            a{
                color: #388ce4;
                &:hover{
                    color:#ff0000;
                }
            }
        }
    }

    /*!
    会员中心注册页面样式
    */
    .regist-form{
        padding:2rem 1.2rem;
        background: #efefef;
        .form-group {
            margin: 0 -2rem 1.6rem;
            padding: 0 2rem;
            background: #ffffff;
            .caption{
                width: 8.5rem;
            }
        }
    }

    /*!
    会员中心 - 会员地址页面样式
    */
    .address-wrap{
        .address-list{
            padding:2rem 6rem;
            position: relative;
            dt{
                position: relative;
                span{
                    position: absolute;
                    right: 0;
                }
            }
            .edit{
                position: absolute;
            }
        }
        .add-address-form{
            padding: 1.6rem 1rem;
            .form-group{
                border-bottom:1px solid #ccc;
                .caption{
                    width: 8rem;
                }
            }
        }
    }

    /*!
    会员中心公共头
    */
    header {
        &.header {
            height: 5rem;
            width: 100%;
            top: 0;
            left: 0;
            background: #f3f3f3;
            border-top: solid 1px #ccc;
            border-bottom: solid 1px #ccc;
            @include position(fixed);
            @at-root .header {
                height: 5rem;
                width: 100%;
                @include position;
            }

            & > div {
                top: 50%;
                @include position;
                @include translate(0,-50%);
            }

            & > h1 {
                @include magPad;
                font-size: 1.6rem;
                font-weight: normal;
                letter-spacing: .2rem;
                top: 50%;
                left: 50%;
                @include position(absolute);
                @include translate(-50%,-50%);
            }
        }
    }
    // .header{
    //     height: 2.5rem;
    //     @include position;
    //     width: 100%;
    //     header& h1{
    //         top:0;
    //         height: inherit;
    //         @include position(absolute);
    //         text-align: center;
    //     }
    // }
    .top-bg {
        background: url("../img/mem-bg01.jpg") no-repeat;
        background-size: cover;
        height: 15rem;
        width: 100%;
        @include position;

        .top-nav {
            @include position(absolute);
            background: #fff;
            border-bottom: solid 1px #dcdcdc;
            padding: 1.2rem;
            width: 100%;
            bottom: 0;
            left: 0;

            .touxiang {
                width: 6rem;
                height: 6rem;
                top: -4rem;
                @include position(absolute);
                @include allRadius(50%);
            }
        }
    }

    .box-menu {
        background: #fff;
        padding: 1.2rem;

        ul {
            overflow: hidden;

            li {
                width: 30%;
                margin-right: -1px;
                @include position;

                p {
                    @include magPad;
                }

                &:before {
                    display: block;
                    content: '';
                    border-right: solid 1px #dcdcdc;
                    @include position(absolute);
                    right: 0;
                    top: 0;
                    height: 100%;
                }
            }
        }
    }

    .list-panel {
        padding: 1rem;
        background: #fff;
        border-bottom: solid 1px #d8d8d8;
        //计算用户菜单栏背景图标位置函数
        @function bgDistance($v) {
             @return (0.5rem-4.3rem*$v);
        }

        ul li {
            &:last-child hr{display: none;}
            line-height: 4rem;
            font-size: 1.6rem;
            @include position;
            @each $word,$distance in (money:bgDistance(0),order:bgDistance(1),quan:bgDistance(2), pinlun:bgDistance(3), sc:bgDistance(4), dzgl:bgDistance(5), jifen:bgDistance(6), liuyan:bgDistance(7), shfw:bgDistance(8), loginout:bgDistance(9)) {
                &.icon-#{$word} {
                    background: url("../img/member/user.png") 0 $distance no-repeat;
                    background-size: 3rem;
                    padding-left: 4.2rem;
                }
            }

            .right-icon {
                background: url("../img/member/arrow_right.png") right top no-repeat;
                background-size: contain;
                font-size: 1.2rem;
                line-height: 2rem;
                margin-top: 1rem;
                padding-right: 2.2rem;
                float: right;
            }
        }
    }
    /*!
    样式---我的钱包
    */
    .user-balance{
        padding:2rem 0;
        border-bottom:solid 1px #ccc;
        font-size: 1.4rem;
        color:#ff0000;
        .value{
            font-size: 2rem;
        }
    }
    .wal-detail-box{
        padding: 1rem;
        background: #fff;
        .wal-tree{
            border-left:1px solid #bbb;
            padding: 1rem;
            li{
                padding:1rem 0;
                border-bottom: 1px dashed #ccc;
                @include position;
                p{
                    margin: 0;
                    padding: .2rem .6rem;
                }
                .wal-tree-dot{
                    @include position(absolute);
                    width: 1rem;
                    height: 1rem;
                    @include allRadius(50%);
                    left:-1.5rem;
                    top:50%;
                    @include translate(0,-50%);
                    background: #666;
                }
            }
        }
    }

    /*!
    样式 ---我的订单
    */

    .order-lists {
        background: #fff;
        border: solid 1px #ddd;
        border-left: none;
        border-right: none;
        padding: 0 1.6rem;

        h2 {
            @include magPad;
            font-size: 1.2rem;
            line-height: 3.6rem;
            border-bottom: solid 1px #ddd;
        }

        dl {
            border-bottom: 1px solid #ddd;
            margin: 0;
            padding: 1rem 0;

            dt {
                width: 25%;

                img {
                    width: 100%;
                }
            }

            dd {
                @include magPad;

                &.center {
                    width: 55%;
                    margin: 0 1.2rem;
                }

                &.price {
                    width: 20%;
                }
            }
        }

        .o-total {
            border-bottom: 1px solid #ddd;
            font-size: 1.4rem;
            .red{
                font-size: 1.8rem;
                color: #ff0000;
            }
        }

        .o-btn,
        .o-total {
            padding: 1rem 0;
        }
        .o-btn button{
            background: #fff;
            padding:.5rem 1rem;
            @include allRadius(.5rem);
            &.btn-cancel{
                border:1px solid #bbb;
            }
            &.btn-pay{
                margin-left: 1rem;
                color: #fff;
                border:none;
                background: #ff0000;
            }
        }
    }

    /*!
    样式 --- 我的评价
    */
    .pj-list{
        background-color: #ffffff;
        border-bottom: 1rem solid #f2f2f2;
        padding: 0 1rem 1.5rem 1rem;
        h2{
            @include magPad;
            padding:1.2rem 0;
            font-size: 1.2rem;
            font-weight:normal;
            color:#AAA;
        }
        dl,dd,dt{
            @include magPad;
        }
        .pj-img{
            width: 20%;
            img{
                width:100%;
            }
        }
        .pj-tit{
            width:63%;
            padding: 0 .6rem;
            p{
                @include magPad;
                margin-bottom: .6rem ;
            }
        }
        .pj-btn{
            width: 17%;
            position: relative;
            button{
                @include allRadius(.3rem);
                @include translate(0,-50%);
                position: absolute;
                top:50%;
                white-space: nowrap;
                right:0;
                padding: .6rem;
                font-size: 1.2rem;
                background: #fff;
                border: 1px solid #ddd;
            }
        }
    }

    /*!
    我的积分
    */
    .score-list{
        li{
            border-bottom:.1rem solid #ccc;
            padding: 1rem 0;
        }
    }

    .footer {
        padding: 2rem 1.2rem;
        text-align: center;
        h6{
            font-size: 1rem;
            margin:1rem 0;
            padding:0;
        }
        .foot-nav {
            @include magPad;
            display: inline-block;
            overflow: hidden;

            li {
                display: inline-block;
                padding: 0 1rem;
                @include position;

                &:after {
                    display: block;
                    content: ' ';
                    height: 100%;
                    @include position(absolute);
                    top: 0;
                    right: 0;
                    width: 1px;
                    background: #c1c1c1;
                    margin-right: -1px;
                }
            }
        }
    }
}
