$maxw:750px;
$minw:320px;
$red:#e41735;
$iconImgW : 69.4rem;  //图标精灵图宽
$iconImgH : 48.0rem;  //图标精灵图高
html{
    font-size: (10/16*100)+%;
    width:100%;
    height:100%;
    overflow: hidden;
    *{
        box-sizing: border-box;
    }
}
body{
    width:100%;
    height:100%;
    overflow: auto;
    font:{
        size:1.4rem;
        family:"Microsoft Yahei";
        weight:normal;
    };
}
a{
    &,&:hover,&:link{
        text-decoration: none;
        color: #333;
    }
}
@mixin position($pos:relative){
    position: $pos;
}
@mixin flex($lay:flex-start){
    display:-webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:$lay;
    justify-content: $lay;
}
@mixin allRadius($v:0){
    -webkit-border-radius:$v;
       -moz-border-radius:$v;
        -ms-border-radius:$v;
            border-radius:$v;
}
@mixin magPad($v:0) {
    margin: $v;
    padding: $v;
}
@mixin scale($v:1,$o:center) {
    -webkit-transform:scale($v);
    -moz-transform:scale($v);
    -ms-transform:scale($v);
    transform: scale($v);
    -webkit-transform-origin:$o;
    -moz-transform-origin:$o;
    -ms-transform-origin:$o;
    transform-origin: $o;
}
@mixin translate($x:0,$y:0,$z:0) {
    -webkit-transform:translate3d($x,$y,$z);
    -moz-transform:translate3d($x,$y,$z);
    -ms-transform:translate3d($x,$y,$z);
    transform:translate3d($x,$y,$z);
}

/*!
公共样式
*/
.flex-between{
    @include flex(space-between);
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.color-red{
    color:$red;
}
.list-none{
    list-style: none;
    @include magPad;
    li{
        @include magPad;
    }
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clearfix{
    width: 100%;
    height: 1px;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
/*!
icon 图标样式
*/
@each $word,$x,$y in (arrow-left,0px,0px),
     (dot-more,0,(-7.4rem/2)){
        span[icon-#{$word}]{
            background: url(../img/member/icon-lib.png) no-repeat;
            background-position:$x $y;
            background-size: $iconImgW/2 $iconImgH/2;
            display:inline-block;
            display: table;
            width: (6.4rem/2);
            height: (6.4rem/2);
            //@include transScale(.5,left);
     }
}

/*!
主要样式--会员中心
*/
.member-wrapper{
    .container-fill{
        padding:0 1.2rem;
    }
    max-width:$maxw;
    min-width:$minw;
    margin: auto;
    background: #f3f3f3;
    @include position;

    hr.line{
        @include magPad;
        width: auto;
        border: none;
        height: 1px;
        background: #e8e8e8;
    }
    .padd{
        padding: 0 1.2rem;
        background: #fff;
    }
    .hi16{
        height: 1.6rem;
    }
    /*!
    会员中心公共头
    */
    header{
        &.header{
            height: 5rem;
            width: 100%;
            top:0;
            left:0;
            border:solid 1px #ccc;
            @include position(fixed);
            @at-root .header{
                height: 5rem;
                width: 100%;
                @include position;
            }
            & > div{
                top:50%;
                @include position;
                @include translate(0,-50%);
            }
            & > h1{
                @include magPad;
                font-size: 1.6rem;
                top:50%;
                left:50%;

                @include position(absolute);
                @include translate(-50%,-50%);
            }
        }
    }
    // .header{
    //     height: 2.5rem;
    //     @include position;
    //     width: 100%;
    //     header& h1{
    //         top:0;
    //         height: inherit;
    //         @include position(absolute);
    //         text-align: center;
    //     }
    // }
    .top-bg{
        background: url("../img/mem-bg01.jpg") no-repeat;
        background-size: cover;
        height: 15rem;
        width: 100%;
        @include position;

        .top-nav{
            @include position(absolute);
            background:#fff;
            border-bottom:solid 1px #dcdcdc;
            padding:1.2rem;
            width: 100%;
            bottom:0;
            left:0;

            .touxiang{
                width: 6rem;
                height: 6rem;
                top:-4rem;
                @include position(absolute);
                @include allRadius(50%);
            }
        }
    }

    .box-menu{
        background: #fff;
        padding:1.2rem;
        ul{
            overflow: hidden;
            li{
                width: 30%;
                margin-right: -1px;
                @include position;
                p{
                    @include magPad;
                }
                &:before{
                    display: block;
                    content:'';
                    border-right:solid 1px #dcdcdc;
                    @include position(absolute);
                    right: 0;
                    top:0;
                    height: 100%;
                }
            }
        }
    }

    .list-panel{
        padding:1rem;
        background: #fff;
        border-bottom: solid 1px #d8d8d8;
        //计算用户菜单栏背景图标位置函数
        @function bgDistance($v){
            @return (0.5rem-4.3rem*$v);
        }
        ul li{
            line-height:4rem;
            font-size: 1.6rem;
            @include position;
            @each $word,$distance in (money:bgDistance(0),order:bgDistance(1),quan:bgDistance(2),
                                      pinlun:bgDistance(3),
                                      sc:bgDistance(4),
                                      dzgl:bgDistance(5),
                                      jifen:bgDistance(6),
                                      liuyan:bgDistance(7),
                                      shfw:bgDistance(8),
                                      loginout:bgDistance(9)){
                &.icon-#{$word}{
                    background: url(../img/member/user.png) 0 $distance no-repeat;
                    background-size: 3rem;
                    padding-left: 4.2rem;
                }
            }
            .right-icon{
                background: url(../img/member/arrow_right.png) right top no-repeat;
                background-size: contain;
                font-size: 1.2rem;
                line-height: 2rem;
                margin-top: 1rem;
                padding-right: 2.2rem;
                float: right;
            }

        }
    }

    /*!
    样式---我的钱包
    */
    .wallet-nav{
        padding:0 2rem;
        border:solid 1px #ddd;
        background: #fff;
        li{
            padding:.8rem 1rem;
            &.active{
                border-bottom:solid 1px $red;
            }
        }
    }

    /*!
    样式 ---我的订单
    */
    .order-lists{
        background: #fff;
        border:solid 1px #ddd;
        border-left: none;
        border-right: none;
        padding: 0 1.6rem;
        h2{
            @include magPad;
            font-size: 1.2rem;
            line-height: 3.6rem;
            border-bottom:solid 1px #ddd;
        }
        dl{
            border-bottom: 1px solid #ddd;
            margin: 0;
            padding:1rem 0;
            dt{
                width: 25%;
                img{
                    width: 100%;
                }
            }
            dd{
                @include magPad;
                &.center{
                    width: 60%;
                    margin:0 1.2rem;
                }
                &.price{
                    width: 15%;
                }
            }
        }

        .o-total{
            border-bottom: 1px solid #ddd;
        }
        .o-total,.o-btn{
            padding:1rem 0;
        }
    }

    .footer{
        padding: 2rem 1.2rem;
        text-align: center;
        .foot-nav{
            @include magPad;
            display: inline-block;
            overflow: hidden;
            li{
                display: inline-block;
                padding:0 1rem;
                @include position;
                &:after{
                    display: block;
                    content: ' ';
                    height: 100%;
                    @include position(absolute);
                    top:0;
                    right: 0;
                    width: 1px;
                    background: #c1c1c1;
                    margin-right: -1px;
                }
            }
        }
    }
}
